Client/Library/
Client/Logs/
Client/Packages/
Client/Temp/
Client/.vs/
Client/Assets/xLua/
Client/Assets/Bitgem/
Client/Bin/
Client/.vsconfig
Client/Assembly-CSharp-Editor.csproj
Client/Assembly-CSharp.csproj
Client/obj/

*.unity3d
*.unity3d.meta
Client/Assets/Mods/X/Common/Config/log.txt
Client/Assets/Mods/X/Common/Config/log.txt.meta
Client/ProjectSettings/ProjectVersion.txt
